
.vs/config/applicationhost.config
.vs/ProjectManagment/v15/.suo
.vs/ProjectManagment/v15/Server/sqlite3/db.lock
.vs/ProjectManagment/v15/Server/sqlite3/storage.ide
.vs/ProjectManagment/v15/Server/sqlite3/storage.ide-shm
.vs/ProjectManagment/v15/Server/sqlite3/storage.ide-wal
ProjectManagment/App_Data/ProjectManagmentContext-20181203125835.mdf
ProjectManagment/App_Data/ProjectManagmentContext-20181203125835_log.ldf
